
body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.game, form{
    width: 80%;
    height: 90%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid violet;
}

.numberticket{
    width: 80%;
    height: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.starsticket{
    width: 80%;
    height: 20%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button{
    width: 7%;
    height:7%;
    display: flex;
    position: relative;
}    

.buttonstar{
    width: 15%;
    height:20%;
    display: flex;
    position: relative;
}

.hidden, .hiddenstar{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}


.btn-circle {
    width: 100%;
    height:100%;
    padding: 6px 0px;
    border-radius: 35px;
    text-align: center;
    font-size: 100%;
    line-height: 1.42857;
    position: absolute;
}

.btn-circlestars {
    width: 100%;
    height:100%;
    border-radius: 25px;
    text-align: center;
    font-size: 100%;
    line-height: 1.42857;
    position: absolute;
}

.selected {
    background-color: brown;
    color: white;
}

.selectedstar {
    background-color: yellow;
}

/* result style */